@font-face {
    font-family: 'Bakso Sapi';
    src: url('./resources/BaksoSapi.otf');
}

html {
    box-sizing: border-box;
}

body {
    background-color: #A8BDBF;
}

*,
*::before,
*::after {
    font-family: 'Bakso Sapi';
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* Header */
header {
    height: 80px;
    background-color: #BFBCA8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo {
    height: 100%;
    width: auto;
}

header > h1 {
    font-size: 48px;
}

/* Game */

.game {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.choice {
    height: 200px;
    width: auto;
    background-color: #F0E495;
    border-radius: 50%;
    border: 4px solid black;
    cursor: pointer;
}

/**/
.results {
    height: 150px;
    width: 60vw;
    margin: 0 auto;
    padding: 8px;
    /* border: 1px solid black; */
    border: none;
    border-radius: 16px;
    text-align: center;
    background-color: #8C8B89;
}

.round {
    margin-bottom: 8px;
}

.playerSelection {
    margin-right: 32px;
}

.computerSelection {
    margin-left: 28px;
}

.result {
    margin: 2px 0;
}

.score {
    margin-bottom: 8px;
}

.winner {
    text-shadow: 0 0 0.5em #4883A1;
}
/**/
.resetBtn {
    margin: 0 auto;
    padding: 4px 8px;
    font-size: medium;
    border: none;
    border-radius: 4px;
    background-color: #4883A1;
}

/* Footer */

footer {
    height: 40px;
    background-color: #BFBCA8;
    /* background-color: #8C8B89; */
    display: flex;
}

footer > span {
    font-size: small;
    margin: auto;
}